<!-- 
	view1.html isthe view that displays a 5 day general forcast. It is the landing page
	for the application.
 -->

<h1>{{(firstDayForecast[0].date * 1000)| date:'MMMM d, yyyy'}}</h1>


<h2>{{location}}</h2>


    <div id="authorize-div">
      <span>Authorize access to Gmail API</span>
      <!--Button for the user to click to initiate auth sequence -->
      <button id="authorize-button" ng-click="authClick(event)">
        Authorize
      </button>
    </div>
    
<!--  for erros -->
	<pre id="errorOutput"></pre>

<!--     custom directive that returns template html from weatherDetailsView.html -->
   <div><weather-details> </weather-details> </div> 
<br/>
<!--     custom directive that returns template html from weatherFullDetailsView.html -->
    <div><weather-full-details> </weather-full-details></div>
<br/>
<!--     custom directive that returns template html from gMailInboxView.html -->
    <div><g-mail-inbox> </g-mail-inbox></div>
<br/>
<!--     custom directive that returns template html from rssFeedView.html -->
    <div><rss-feed> </rss-feed></div>
    
    
        