<!-- weatherDetailsView.html contains the partial html 
     for display of five day's basic forecasts. 
 -->

<h3>Today's Forecast</h3> 

<!-- repeat through fiveDayForecast and display all data -->
<div id="firstDayForecast" ng-repeat="forecast in firstDayForecast track by $index">
	<!--custom directive that returns template html -->
    <weather-icon condition="{{ forecast.weatherIcon }}"></weather-icon>
	    <div>
	    	<h3>{{(forecast.date * 1000)| date:'hh:mm a'}}</h3> 
				<h4>{{forecast.weatherDescription}}</h4> 
					<h5>
						Current: {{forecast.temp.average | temp }}<br/>
						min: {{forecast.temp.min | temp}}, max: {{forecast.temp.max | temp }}
					</h5>
		</div>
	<div>
		<div id="fullForecasts" ng-repeat="(key,val) in forecast.weatherVariants | variants ">
			<span>{{key}}: {{val}}</span>
	</div>
</div>